html, body {
	padding: 0px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

.container {
	width: 1170px; 
	margin: 0 auto;
}

.floatLeft {
	float: left;
}

.floatRight{
	float: right;
}

nav {
	width: 100%;
	background-color: #222;
}

ul {
	list-style-type: none;
	display: inline;
}

li {
	float: left;
	padding-right: 20px;
}

footer {
	color: #eee;
	width: 100%;
	background-color: #222;
	height: 54px;
	font-family: 'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	position: relative;
}

#footerMessage {
	font-size: 18px;
	margin: 18px 0 0 0;
	padding: 0;
}

#back-to-top {
	position: fixed;
	right: 20px;
	bottom: 9px;
}

#back-to-top a {
	color: #696969;
}

h1 {
	color: #eee;
	font-size: 30px;
	margin: 10.5px 0 10.5px 0;
}

.floatRight a:hover {
	text-decoration: none;
}

.navRight {
	margin: 21px 0 21px 0;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 16px;
	text-transform: lowercase;
	font-weight: 100;
	letter-spacing: -1px;
}

.navLeft {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	text-transform: lowercase;
	font-weight: 200;
	letter-spacing: -1px;
}

a {
	text-decoration: none;
}

.block {
	height: 528px;
}

.block1{
	background-color: #eee;
}

.block2 {
	background-color: #D1D1D1;
}

.block3 {
	background-color: #A2A2A2;
}


.landingImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 35px;
    max-width: 100%;
}

.container p {
	font-size: 15px;
	text-align: center;
	margin: 35px 100px 35px 100px;
	line-height: 1.4em;
}

.blockTitle {
	font-size: 50px;
	margin: 0;
	text-align: center;
	padding-bottom: 5px;
	padding-top: 35px;
	color: #222;
	font-family: 'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	letter-spacing: -1px;
}

.container hr {
	margin-left: 40%;
	margin-right: 40%;
    border: 0;
    height: 1px;
    background: #222;
}

form { 
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto; 
	width: 254px;
}

.feedback-input {
	width: 250px;
	font-style: italic;
	color: black;
	font-size: 14px;
	height: 20px;
	margin-bottom: 25px;
}

input {
	padding: 2px;
	border: 0px;
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
}

input:focus {
	outline-offset: -2px;
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: #A2A2A2;
}

textarea {
	width: 250px; 
	min-width:250px; 
	max-width:250px; 

	height:200px; 
	min-height:200px;  
	max-height:200px;
	resize: none;
	border: 0px;
	background-color: #eee;
	font-family: 'Open Sans', sans-serif;
}

textarea:focus {
	outline-offset: -2px;
	outline: -webkit-focus-ring-color auto 5px;
	outline-color: #A2A2A2;
}


#submit-button {
	float: right;
	color: #222;
	font-family: 'Open Sans', sans-serif;
	border: 2px;
}

::-webkit-input-placeholder {
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif; 
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {  
	color: #BDBDBD;
	font-family: 'Open Sans', sans-serif;
}

.portImages {
	padding-top: 20px;
	text-align: center;
}

.portLinks{
	font-family: 'Lato',"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 24px;
	color: #222;
	padding-top: 10px;
}

.portLinks a:visited {
	color: #222;
}

.portLinks a:hover {
	border-bottom: 1px solid #222;
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(../images/omniaCleaningSmall.png) no-repeat;
	-webkit-filter: grayscale(90%);
	-moz-filter: grayscale(90%);
	filter: grayscale(90%);
	margin: 0px auto;
	}

/* Responsive */